.result_table{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--border);
    background-color: var(--header-footer);
    width: 600px;
    height:400px
}

.result_table td, th {
    text-align: center;
    border: 2px solid var(--border);
    padding: 5px
}